@import "tailwindcss";

body {
  background-color: var(--color-bg-main);
  color: var(--color-text-primary);
  font-family: Inter, system-ui, sans-serif;
}

.form-input {
  @apply w-full bg-slate-900 border border-slate-700 rounded-xl px-4 py-3 text-white
  focus:outline-none focus:ring-2 focus:ring-sky-500 focus:border-sky-500
  transition-all;
}
