name: CI

on:
  push:
    branches: [ develop, main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 22

      - name: Install frontend deps
        run: |
          cd frontend
          npm install
          npm run build

      - name: Install backend deps
        run: |
          cd backend
          npm install
